.App {
  margin-left: 20px;
}

input {
  display: block;
  margin: 5px 0 5px;
}

ul{
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}

li{
  border: 2px solid lightblue;
  width: 75px;
  padding: 5px;
  margin: 5px;
  background: lightblue;
  color: white;
}